doctype
html(ng-app="halloweenApp")
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="app.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/main.css")
  body.container
    nav.navbar.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/')
                    b H
                    | alloween 
                    b A
                    | pplication for 
                    b C
                    | andy 
                    b S
                    | eekers 

    != yield
