//h1 Halloween Candy Finder
//h3 Spooooooky #[span.pumpkin &#x1f383;]
.server-data(ng-controller="ServerDataController")
    .row
        .col-md-4.col-md-push-4
            table.table
                thead
                    tr
                        th Name
                        th Calories
                tbody
                    tr(ng-repeat="candy in candies")
                        td {{candy.name}}
                        td {{candy.calories}}
                    tr
                        td Snickers
                        td 240
                    tr
                        td Kit Kat
                        td 140
        .col-md-8
